*.dll
*.pdb
*.cache
/Client/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Client/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Client/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Core/obj/Debug/Core.csproj.FileListAbsolute.txt
/Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Demo/bin/Debug/Demo.exe
/Demo/bin/Debug/Demo.exe.config
/Demo/bin/Debug/Demo.vshost.exe.config
/Demo/bin/Debug/Demo.vshost.exe.manifest
/Demo/bin/Debug/NPhoenix.Demo.exe.config
/Demo/bin/Debug/NPhoenix.Demo.vshost.exe
/Demo/bin/Debug/NPhoenix.Demo.vshost.exe.config
/Demo/bin/Debug/hs_err_pid5292.log
/Demo/bin/Debug/jni4net.j-0.8.8.0.jar
/Demo/bin/Debug/phoenix-4.0.0.2.1.9.0-2196-client.jar
/Demo/obj/Debug/Demo.csproj.FileListAbsolute.txt
/Demo/obj/Debug/Demo.exe
/Demo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Demo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Demo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Interop/bin/Debug/NLog.xml
/Interop/obj/Debug/Interop.csproj.FileListAbsolute.txt
/Interop/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Interop/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Interop/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Demo/obj/Debug/*.force
/NPhoenix.v12.suo
/NPhoenix/obj/Debug/NPhoenix.csproj.FileListAbsolute.txt
/NPhoenix/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NPhoenix/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NPhoenix/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
